/* aside 공통 */
.aside_wrap {
  z-index: 3000;
  // height: calc(100vh - $header-height);
  max-height: unset;
  padding: 2rem;
  transition: all ease 0.2s 0s;

  .aside_inner {
    height: calc(100dvh - 12rem);

    .tc_only,
    .st_only {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .state_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: var(--RNB-box-R, 1.5rem);
      margin-bottom: 1rem;
      padding: 1.5rem;

      .state_label {
        @include font_header3;
      }
    }

    .chat_bot {
      position: relative;
      width: 100%;
      height: 11rem;
      border-radius: 1.4rem;
      margin-bottom: 1.5rem;
      padding: 1.6rem;
      overflow: hidden;

      span {
        color: $font-darken;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.2rem; /* 122.222% */
      }
    }

    .nav_wrap {
      summary {
        list-style: none;
        display: flex;
        padding: 1.5rem 0.5rem;
        align-items: center;
        gap: 0.8rem;
        align-self: stretch;
        border-bottom: 1px solid $line-darken;
        @include font_header3;
      }

      summary::-webkit-details-marker {
        display: none;
      }

      details[open] summary {
        font-weight: 700;

        i {
          transform: rotate(180deg);
        }
      }

      ul {
        display: flex;
        padding: 2rem 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        align-self: stretch;

        border-bottom: 1px solid $line-darken;
        background: $bg-light;
        li {
          cursor: pointer;
          @include font_body3($font-basic);

          &.active {
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .util_wrap {
    .util_btn {
      text-align: left;
      border-bottom: 1px solid #ddd;
      position: relative;
      width: 100%;
      display: flex;
      padding: 1rem 0.5rem;

      &:hover,
      &.active {
        border-radius: 0.6rem;
        background-color: #6f7e9a;
        color: $white;
        &::after {
          filter: var(--color-white);
        }
      }

      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 50%;
      //   left: 1.2rem;
      //   width: 3rem;
      //   height: 3rem;
      //   margin-top: -1.5rem;
      // }
    }
    .screen_control {
      .label {
        display: inline-block;
        padding: 1rem 0.5rem 1.5rem 0.5rem;
      }
      .controller {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $bg-basic;
        @include font_body3($font-darken);
      }
      .zoom {
        text-align: center;
        display: flex;
        width: 3rem;
        height: 3rem;
        justify-content: center;
        align-items: center;
        background: $white;
        border: 1px solid $line-darken;
        border-radius: 5px;
      }
    }
  }
}

.teacher {
  .aside_wrap {
    width: 20.5rem;
    min-width: 20.5rem;
    background: $white;
    .aside_inner {
      .state_box {
        border: 2px solid rgba(22, 155, 212, 0.22);
        background: rgba(202, 226, 244, 0.2);

        .state_label {
          color: $point;
        }

        &.waiting {
          background: $white;
          border: 2px solid #d9d9d9;

          .state_label {
            color: $font-light;
          }
        }

        .v-switch--inset {
          .v-switch__track {
            background-color: #ccc !important;
            border: 1px solid #ccc;
          }
          .v-switch__thumb {
            background-color: $white !important;
          }
          //true
          .v-selection-control--dirty {
            .v-switch__track {
              border: 1px solid $point;
              background-color: $point !important;
            }
            .v-switch__thumb {
              background-color: $white !important;
            }
          }
        }
      }
    }

    .chat_bot {
      background: #d9e8ff;

      &::before {
        overflow: hidden;
        content: '';
        position: absolute;
        right: -6rem;
        top: 1.5rem;
        width: 20rem;
        height: 15rem;
        background: url('@/assets/images/common/chat_bot.png') no-repeat center center/cover;
      }
    }

    .util_wrap {
      border-radius: 1.5rem;
      background: $bg-light;
      padding: 0.5rem 1.5rem 2rem 1.5rem;
      @include font_body3($font-darken);
    }
  }
}
//student aside
.student {
  .aside_wrap {
    width: 19.5rem;
    border-radius: 2.5rem 0rem 0rem 0rem;
    background: rgba(255, 255, 255, 0.65);
    margin-left: 1rem;
    .aside_inner {
      .state_box {
        border: 2px solid var(--Student-RNB-switch-on-line, rgba(30, 40, 87, 0.5));
        background: #e4f0f0;
        .state_label {
          color: $primary;
        }

        &.waiting {
          border: 2px solid #d9d9d9;

          .state_label {
            color: $font-light;
          }
        }

        .v-switch--inset {
          .v-switch__track {
            background-color: #ccc !important;
            border: 1px solid #ccc;
          }
          .v-switch__thumb {
            background-color: $white !important;
          }
          //true
          .v-selection-control--dirty {
            .v-switch__track {
              border: 1px solid $primary;
              background-color: $primary !important;
            }
            .v-switch__thumb {
              background-color: $white !important;
            }
          }
        }
      }
    }

    .chat_bot {
      background: $point-color-yellow;
      &::before {
        overflow: hidden;
        content: '';
        position: absolute;
        right: 0rem;
        top: 0rem;
        width: 11rem;
        height: 12rem;
        background: url('@/assets/images/common/chat_bot_bee.png') no-repeat center center/contain;
      }
    }
    .util_wrap {
      .sound_status {
        display: flex;
        padding: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--RNB-text-margin, 0.5rem);
        align-self: stretch;
        border-radius: 1.5rem;
        background: $white;
        margin-bottom: 1.5rem;

        .ico_sound {
          width: 4rem;
          height: 4rem;
        }

        &.on {
          .ico_sound {
            background: url('@/assets/images/common/ico_sound_on.svg') no-repeat center
              center/contain;
          }
        }
        &.off {
          color: #ccc;

          .ico_sound {
            background: url('@/assets/images/common/ico_sound_on_gray.svg') no-repeat center
              center/contain;
          }
        }
      }
      .screen_control,
      .sound_control {
        text-align: center;
        border-radius: 1.5rem;
        background: $white;
        padding: 1.6rem 1rem;
        align-self: stretch;
      }

      .sound_control {
        margin-bottom: 1.5rem;
      }
    }
  }
}
