@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

.btn_under_dialog {
  display: flex;
  position: absolute;
  bottom: -22.9rem;
  justify-content: center;
  width: 100%;
  align-items: center;

  .v-btn {
    width: 32.4rem;
  }
}

.blue-btn {
  display: flex;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem !important;
  background: var(--Input_Line_51B3E9, #51b3e9);
  color: #fff;
}
.light-btn {
  color: var(--Black_999, #999);
  display: flex;
  height: 5rem;
  padding: 0px 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 5rem;
  background: var(--gray_BG_f7, #f7f7f7);
}
.disabled-btn {
  border-radius: 15rem;
  background: var(--gray_BG_d8d8d8, #d8d8d8);
  @include font_body2(#999);
}
.btn-week {
  position: relative;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .v-btn {
    display: flex;
    width: 6rem;
    min-width: auto;
    height: 5.4rem;
    padding: 1.4rem 0rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border: 1px solid var(--Point_169BD4, #169bd4);
    background: var(--white-fff, #fff);
    margin: 0 5px !important;
    &--disabled {
      border: 0 solid #ffffff;
      background: #ffffff;
      opacity: 0.6 !important;
      ::v-deep(.v-btn__overlay) {
        display: none !important;
      }
    }

    & .v-btn__overlay {
      display: none;
    }
    &.active {
      background: #1e3257;
      border-color: #1e3257;
      color: #ffffff;
    }
  }
}

.v-btn {
  text-transform: none !important;
  padding: 0 4rem;

  .v-btn__content {
    letter-spacing: -0.05em;
  }
  //ico
  .ico {
    display: inline-flex;
    align-items: center;
    &::before {
      content: '';
      display: inline-flex;
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
    }
    &.check_bk {
      background: url('@/assets/images/common/ico_check_b.svg') no-repeat;
      background-size: contain;
    }
    &.check_wh {
      background: url('@/assets/images/common/ico_check_w.svg') no-repeat;
      background-size: contain;
    }
    &.share {
      background: url('@/assets/images/common/ico_share.svg') no-repeat;
      background-size: contain;
    }
    &.show {
      background: url('@/assets/images/common/ico_show.svg') no-repeat;
      background-size: contain;
    }
    &.hide {
      background: url('@/assets/images/common/ico_hide.svg') no-repeat;
      background-size: contain;
    }
    &.hide1 {
      background: url('@/assets/images/common/ico_hide1.svg') no-repeat;
      background-size: contain;
    }
  }
  //size
  &--size-x-small {
    //height: 3.2rem !important;
    font-size: $font-xsmall !important;
    min-width: 7rem !important;
    padding: 0 2rem !important;
  }

  &--size-small {
    //height: 3.6rem !important;
    font-size: $font-small !important;
    min-width: 7rem !important;
    padding: 0 2rem !important;
    &.icon_only {
      position: relative;
      min-width: 5rem !important;
      padding: 0rem !important;
      font-size: 4rem !important;
      height: 5rem !important;

      &.pre {
        background: url('@/assets/images/common/ico_page_arrow.svg') center center no-repeat;
      }
      &.next {
        transform: rotate(180deg);
        background: url('@/assets/images/common/ico_page_arrow.svg') center center no-repeat;
      }
    }
  }

  &--size-default {
    //height: 4.4rem !important;
    min-width: 14.5rem !important;
    font-size: $font-medium !important;
    padding: 0 5rem;
  }

  &--size-large {
    height: 6rem !important;
    min-width: 17rem !important;
    font-size: $font-medium !important;
    padding: 0 5rem;
  }

  &--size-x-large {
    min-width: 14.5rem !important;
    font-size: $font-medium !important;
    padding: 0.6rem 5rem !important;
    span,
    em {
      font-size: $font-medium !important;
      display: block;
    }
  }

  //radius
  &--rounded {
    border-radius: 5rem !important;
  }

  &.v-btn--disabled {
    opacity: 0.6 !important;
  }

  //color
  &.primary {
    background-color: $primary !important;
    color: $white !important;
    &.v-btn--disabled {
      background-color: $primary;
    }
  }
  &.point1 {
    background-color: $point1;
    color: $white !important;
    &.v-btn--disabled {
      background-color: $point1;
    }
  }
  &.point {
    background-color: $point;
    color: $white !important;
    &.v-btn--disabled {
      background-color: $point;
    }
  }
  &.green {
    background-color: $green;
    color: $white !important      ;
    &.v-btn--disabled {
      background-color: $green;
    }
  }
  &.gray {
    background-color: $gray;
    color: $white !important;
    &.v-btn--disabled {
      background-color: $gray;
    }
  }
  &.lightgray {
    background-color: $lightgray;
    color: $white !important;
    &.v-btn--disabled {
      background-color: $lightgray;
    }
  }
  &.orange {
    background-color: $orange;
    color: $white !important;
    &.v-btn--disabled {
      background-color: $orange;
    }
  }
  &.black {
    background-color: $black;
    color: $white !important;
    &.v-btn--disabled {
      background-color: $black;
    }

    &.with_arrow {
      padding-right: 10.8rem;
      position: relative;
    }
  }
  &.outlined {
    border: 1px solid $primary;
    color: $primary !important;
    &.v-btn--disabled {
      background-color: #fff;
      .v-btn__overlay {
        display: none;
      }
    }
  }
  &.outlined_bk {
    border: 1px solid $black;
    color: $black !important;
    &.v-btn--disabled {
      background-color: #fff;
      .v-btn__overlay {
        display: none;
      }
    }
  }
  &.outlined_point {
    border: 1px solid $point;
    color: $black !important;
    letter-spacing: 0.5rem;
    &.v-btn--disabled {
      background-color: #fff;
      .v-btn__overlay {
        display: none;
      }
    }
  }
  &.outlined_orange {
    border: 1px solid $orange;
    color: $orange !important;
    letter-spacing: 0.5rem;
    &.v-btn--disabled {
      background-color: #fff;
      .v-btn__overlay {
        display: none;
      }
    }
  }
  &.outlined_gy {
    border: 1px solid $outline_gray;
    color: $black !important;
    &.v-btn--disabled {
      background-color: #fff;
      .v-btn__overlay {
        display: none;
      }
    }
  }
}
