 @each $key, $value in $point-color-list {
  .v-btn {
    &.#{$key} {
      background-color: $value;
      color: $point-color-white !important;
      @if ($key == 'white'){
        color: $point-color-black !important;
      }
    }
    &.outlined {
      border: 1px solid $point-color-black;
      color: $point-color-black !important;
    }
    &.outlined_#{$key} {
      border: 1px solid $value;
      color: $point-color-black !important;
    }
  }
}

$v-btn-default-height: 3.6rem;

.v-btn {
  text-transform: none !important;
  padding: 0 4rem;

  .v-btn__content {
    letter-spacing: -0.05em;
  }

  &.btn_2row {
    // 2줄 버튼
    height: auto !important;
    .v-btn__content {
      flex-direction: column;
      padding: 0.8rem 0;
      min-width: 10rem;
    }
    em {
      display: block;
      font-size: 1.4rem;
      line-height: 2rem;
      @include font-body5;
    }
    &.black {
      em {
        color: $white;
      }
    }
  }

  /**
   * size는 xs 부터 lg까지 처리
   * 높이 값은 제한 없이 padding으로 조절
   */

  &.v-btn--size-large {
    min-height: 5.6rem !important;
    min-width: 16rem !important;
    height: auto !important;
    padding: 0 4rem;
    @include font_body3($font-weight-medium, $white);
  }

  &.v-btn--size-default {
    min-height: 4.2rem !important;
    min-width: 14rem !important;
    padding: 0 2rem !important;
    @include font_body3($font-weight-medium, $white);
  }

  &.v-btn--size-small {
    min-height: 3.6rem !important;
    min-width: 11rem !important;
    height: auto !important;
    padding: 0 1.5rem !important;
    @include font_body4($font-weight-medium, $white);
  }

  &.v-btn--size-x-small {
    min-height: 3.2rem !important;
    min-width: 8rem !important;
    height: auto !important;
    padding: 0 1.5rem !important;
    @include font_body5($font-weight-medium, $white);
  }

  &.v-btn--density-default{
    height: $v-btn-default-height;
  }

  /**
   * radius
   */
  &.v-btn--rounded {
    border-radius: 5rem !important;
  }
  
  /**
   * disabled
   * 컬러별로 정의가 아닌 opacity로 처리
   */
  &.v-btn--disabled {
    opacity: 0.2 !important;
    background: $bg-darken !important;
  }

  /**
    * 내용 : icon_only 버튼의 small에서 좌우 표시를 위한 클래스
   */

  &.icon_only {
    position: relative;
    min-width: 5rem !important;
    padding: 0rem !important;
    font-size: 4rem !important;
    height: 5rem !important;

    &.icon_only-transparent {
      background-color: transparent;
    }
    &.icon_only-sm {
      min-height: 3rem !important;
      min-width: 3rem !important;
    }

    &.pre {
      background: url('@/assets/images/common/ico_page_arrow.svg') center center no-repeat;
    }
    &.next {
      transform: rotate(180deg);
      background: url('@/assets/images/common/ico_page_arrow.svg') center center no-repeat;
    }

    &.icon_only_circle {
      border-radius: 50%;
      background: $DB900;
    }
  }

  /**
    * 내용 : 버튼의 반쪽 모습의 ui를 위해 사용
   */
  &.half{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    &.reversal{
      border-top-right-radius: 2rem !important;
      border-bottom-right-radius: 2rem !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}

/**
 * 내용 : btn-week 숙제 관리 화면에서 버튼 레이아웃 정렬하기 위해서 사용
 */
.btn-week {
  position: relative;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .v-btn {
    display: flex;
    width: 6rem;
    min-width: auto;
    height: 5.4rem;
    padding: 1.4rem 0rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border: 1px solid var(--Point_169BD4, #169bd4);
    background: var(--white-fff, #fff);
    margin: 0 5px !important;
    &.v-btn--disabled {
      border: 0 solid #ffffff;
      background: #ffffff;
      opacity: 0.6 !important;
      ::v-deep(.v-btn__overlay) {
        display: none !important;
      }
    }

    & .v-btn__overlay {
      display: none;
    }
    &.active {
      background: #1e3257;
      border-color: #1e3257;
      color: #ffffff;
    }
  }
}
