$calendar-point-green: $point-color-green;
$calendar-point-blue: $B100;
$calendar-point-gray: $point-color-gray;
$calendar-student-point-green: #139D42;
$calendar-student-point-yellow: $Y300;

.datepicker {
  width: 40rem;
  min-width: 270px;
  padding: 2rem;
  background: $white;
  position: relative;

  .my-calendar {
    width: 100%;
  }

  .legend_wrap {
    padding: 2rem 1rem;
    border-top: 1px solid $line-basic;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;

    .legend {
      display: flex;
      align-items: center;
      width: 50%;
      @include font-body4($font-weight-medium, $font-basic);
      line-height: 1.2;
      i {
        display: inline-flex;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        margin-right: 1rem;
        &.submission {
          background: $calendar-point-green;
        }
        &.submission_student{
          background: $calendar-student-point-yellow;
        }
        &.unsubmission {
          background: $calendar-point-gray;
        }
        &.today {
          background: $calendar-point-blue;
        }
        &.today_student{
          background: $calendar-student-point-green;
        }
        &.select {
          border: 1px solid $line-darken;
        }
      }
    }
  }
}
