
$header-spacing: calc($spacing-root * 4) calc($spacing-root * 6);

/* header 공통 */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: $header-spacing;
  height: 8rem;

  background: $white;
  transition: all ease 0.2s 0s;
  .header_myinfo {
    display: flex;
    gap: 1.5rem;

    .btn_back {
      width: 4rem;
      height: 4rem;
      background: url('@/assets/images/common/ico_back_b.svg') no-repeat center center/contain;
    }
    .txt_info {
      padding: 0.6rem 0;
      @include font_header1($white);

      &::after {
        content: '';
        background: $black;
        opacity: 0.3;
        height: 1.8rem;
        width: 0.1rem;
        margin: 0 0 0 1.6rem;
      }
    }
    .ico_member {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
      }
      .txt_member {
        @include font_header3($white);
        .txt_sub {
          font-weight: 400;
        }
      }
    }
  }
  .mydata_list {
    display: flex;
    justify-content: space-between;
    color: $white;

    li {
      @include font_header2($white);
      padding: 0.8rem 2rem;
      position: relative;
    }

    button {
      em {
        font-weight: var(--weight-bold);
      }

      .ico {
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        background-position: 0 -0.3rem;
      }
    }
  }
}

//teacher
.teacher {
  .header {
    z-index: 3000;
    //white
    &.white {
      .btn_log {
        opacity: 0.7;
      }
      .ico_arrow {
        border-top: 0.2rem solid $black;
        border-right: 0.2rem solid $black;
      }
      .header_mydata {
        button {
          padding: 0 1.5rem;

          em {
            display: none;
          }
        }
      }
    }
    //primary
    &.primary {
      background: $primary;
      .btn_log {
        opacity: 0.7;
        background: transparent;
        border: 1px solid $white;
        color: $white !important;
      }
      .ico_arrow {
        border-top: 0.2rem solid $white;
        border-right: 0.2rem solid $white;
      }
      .header_myinfo {
        .btn_back {
          background: url('@/assets/images/common/ico_back_w.svg') no-repeat center center/contain;
        }
        .txt_info {
          color: $white;
          &::after {
            display: none;
          }
        }
      }
      .mydata_list {
        color: $white;
        button {
          &.active {
            color: $point-color-yellow;

            &::after {
              content: '';
              background: $point-color-yellow;
              width: 0.8rem;
              height: 0.8rem;
              border-radius: 1rem;
              position: absolute;
              top: 0rem;
              right: 0rem;
            }
            &.ico {
              &::before {
                filter: $point-color-yellow;
              }
            }
          }
          &.ico {
            &::before {
              filter: var(--color-white);
            }
          }
        }
      }
    }
  }
}
.student {
  .header {
    z-index: 3000;
    background: transparent;

    .header_myinfo {
      .txt_info,
      .txt_member {
        color: $black;
      }

      .btn_log {
        background: transparent;
        color: #555 !important;
      }
    }

    .header_mydata {
      .mydata_list {
        .bookmark {
          filter: var(--color-black);
        }
        span,
        button {
          color: $point-color-black;
          opacity: 0.4;
          &.active {
            opacity: 1;
            color: $point-color-black;
            &::after {
              background: $point-color-black;
              content: '';
              width: 0.8rem;
              height: 0.8rem;
              border-radius: 1rem;
              position: absolute;
              top: 0rem;
              right: 0rem;
            }
          }
        }
      }
    }
  }
}
