.navigator {
  padding-left: 3rem;
  width: 100%;
  height: $navigator-height;

  .nav_wrap {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    .nav_tab {
      display: flex;
      flex-shrink: 0;
      max-width: calc(100% - 28rem);

      overflow: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
      .nav_scroll {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        //transform: translateX(-300px);
      }

      .tab_item {
        display: flex;
        height: 5rem;
        padding: 1.5rem;
        gap: 1rem;
        border-radius: 1rem 1rem 0 0;
        cursor: pointer;

        span {
          white-space: nowrap;
        }
        .btn_close {
          filter: var(--color-white);
          display: flex;
          width: 2rem;
          height: 2.5rem;
          justify-content: flex-end;
          align-items: center;
          gap: 1rem;
          background: url('@/assets/images/common/ico_del_bk.svg') no-repeat center center/contain;
          background-size: 1.5rem 1.5rem;
        }
      }
    }

    .nav_btn_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--Contents-Navigator-Height, 7rem);
      span {
        cursor: pointer;
        width: 7rem;
        height: 7rem;
        padding: 2rem;

        &.ico_prev {
          background: url('@/assets/images/common/ico_prev.svg') no-repeat center / contain;
          background-size: 3rem 3rem;
        }
        &.ico_next {
          background: url('@/assets/images/common/ico_next.svg') no-repeat center center/contain;
          background-size: 3rem 3rem;
        }
        &.ico_write {
          background: url('@/assets/images/common/ico_tit_write.svg') no-repeat center
            center/contain;
          background-size: 3rem 3rem;
        }

        &.ico_print {
          background: url('@/assets/images/common/ico_tit_print.svg') no-repeat center
            center/contain;
          background-size: 3rem 3rem;
        }
      }
    }
  }
}

.teacher {
  .navigator {
    background: var(--Contents-Navigator-Bg, #bbc5dc);

    .nav_tab {
      .tab_item {
        background: var(--Contents-Navigator-Off-Bg, #5a759f);
        @include font_header3($white);

        // font-size: $header2-size;
        // font-weight: $font-weight-bold;
        // line-height: 2.8rem;
        // color: $white;
        // letter-spacing: 0;

        &.active {
          background: $bg-default;
          color: var(--Color-Font-Color-Darken, #171717);
          .btn_close {
            filter: none;
          }
        }

        .btn_close {
          filter: var(--color-white);
        }
      }
    }
    .nav_btn_wrap {
      span {
        border-left: 1px solid var(--Contents-Navigator-Button-Line, #d2d9e8);
      }
    }
  }
}

.student {
  .navigator {
    border-radius: 0rem var(--Student-contents-R, 1rem) 0rem 0rem;
    background: $white;

    .nav_wrap {
      border-bottom: 0.2rem solid $line-darken;

      .nav_tab {
        .tab_item {
          background: var(--Color-BG-Color-Basic, #e6e6e6);
          border-left: none;
          @include font_header3;

          &.active {
            background: var(--Color-BG-Color-Darken, #171717);
            color: $white;
            .btn_close {
              filter: var(--color-white);
            }
          }

          .btn_close {
            filter: none;
          }
        }
      }
    }

    .nav_btn_wrap {
      span {
        position: relative;

        &::after {
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          content: '';
          width: 1px;
          height: 2rem;
          background: var(--Color-Line-Color-Basic, #d5d5d5);
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
