@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

.acting_history_wrap {
  display: flex;
  width: 100%;
  margin: 3rem 0;
  .acting_img_wrap {
    width: 31.4rem;
    text-align: center;
    .img_wrap {
      width: 26.4rem;
      height: 14.8rem;
      border: 1px solid var(--border-gray);
      border-radius: var(--border-radius-medium);
      overflow: hidden;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .acting_con_wrap {
    flex: 1;
    margin: 0 3rem;
    .ico_speaking {
      display: inline-flex;
      margin: 0 0 0 1rem;
      width: 5rem;
      height: 5rem;
      background: url('@/assets/images/common/ico_speaking.svg');
    }
    .tab_body {
      max-height: 80rem;
      overflow-y: auto;
      margin: 3rem 0;
    }

    .acting_list_wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      > li {
        width: calc(50% - 1rem);
        margin: 0 0 2rem 0;
        &.active {
          .acting_item {
            border: 0.2rem solid var(--border-black);
            .tit_wrap {
              &::after {
                top: 3rem;
                transform: rotate(225deg);
                -webkit-transform: rotate(225deg);
              }
            }
          }
        }
        &:nth-child(2n) {
          margin-left: 2rem;
        }
        .acting_item {
          background: #fff;
          border: 1px solid var(--border-gray);
          overflow: hidden;
          border-radius: 1.2rem;
        }
        .tit_wrap {
          position: relative;
          height: 7rem;
          button {
            width: 100%;
            height: 7rem !important;
          }

          &::after {
            content: '';
            position: absolute;
            top: 2.5rem;
            margin-left: -4rem;
            border: solid var(--border-black);
            border-width: 0 0.3rem 0.3rem 0;
            display: inline-block;
            padding: 0.5rem;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
        .img_wrap {
          width: 100%;
          height: 34.2rem;
          border-radius: var(--border-radius-medium);
          overflow: hidden;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .tag_wrap {
          margin: 3rem 2rem;
          font-size: $font-medium;
          line-height: 3.5rem;
        }
      }
      .public_wrap {
        margin: 2rem 0;
        .public_list {
          display: flex;
          align-items: flex-start;
          & + .public_list {
            margin: 2rem 0;
          }
          .key_wrap {
            @include font_body3($font-weight-bold);
            margin: 0 2rem;
            line-height: 5rem;
          }
          .value_wrap {
            flex: 1;
            li {
              display: inline-flex;
              align-items: center;

              & + li {
                padding-left: 1rem;
                margin-left: 1rem;
                border-left: 1px solid var(--border-gray);
                margin: 0.5rem 0;
              }
              .txt_num {
                @include font_body4($point);
              }
              .txt_name {
                font-size: $font-medium;
                margin: 0 0.8rem;
              }
            }
          }
        }
      }
      .public_tit {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        border-radius: 6.6rem;
        min-height: 8.6rem;
        &.empty_list {
          border: 1px dashed $black;
          &:hover {
            background: transparent;
            box-shadow: none;
          }
        }
        .st_pho {
          width: 6.6rem;
          height: 6.6rem;
          border-radius: 6.6rem;
          overflow: hidden;
          border: 1px solid #169bd4;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .txt_num {
          @include font_body4($point);
          margin: 0 1rem 0 1.2rem;
        }
        .txt_name {
          font-size: $font-large;
        }
      }
    }
  }
}
