@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

.img_upload_wrap {
  display: flex;
  justify-content: center;
  .upload_area {
    width: 45%;
    position: relative;
    & + div {
      margin-left: 3rem;
    }
  }
  .btn_upload {
    width: 100%;
    height: 100%;
    &:active,
    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }
    border-radius: 1.2rem;
    border: 0.1rem dashed #000000;
    &.line {
      border: 0.1rem solid #000000;
    }
  }

  .message_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    padding: 0 2rem;
    .ico {
      text-align: center;
      @include font_body3($font-weight-bold);
      line-height: 3.3rem;
      em {
        @include font_body4(#555);
      }
      &::before {
        content: '';
        display: block;
        margin: 0 auto 4rem;
        width: 12rem;
        height: 12rem;
      }
    }
    .upload {
      &::before {
        background: url('@/assets/images/common/ico_img_upload.svg') no-repeat center center/contain;
      }
    }
    .copy {
      &::before {
        background: url('@/assets/images/common/ico_img_copy.svg') no-repeat center center/contain;
      }
    }
    .photo {
      &::before {
        background: url('@/assets/images/common/ico_img_photo.svg') no-repeat center center/contain;
      }
    }
  }

  .btn-gray {
    background-color: $gray;
    color: $white !important;
    &.v-btn--disabled {
      background-color: $gray;
    }
  }

  &.homework {
    margin: 21rem 3rem;
  }

  &.submit {
    height: 64rem;
    position: relative;
    img {
      object-fit: contain;
    }

    .stamp {
      width: 20rem;
      height: 20rem;
      position: absolute;
      top: 37.7rem;
      right: 24.5rem;
    }
  }

  &.today_class {
    margin: 8rem 3rem;
    > div {
      width: 50%;
      position: relative;
      & + div {
        margin-left: 8rem;
        &::after {
          content: '';
          position: absolute;
          display: inline-flex;
          width: 0.1rem;
          top: 0;
          left: -4rem;
          bottom: 0;
        }
      }
    }
  }

  &.no_data {
    margin: 0rem;
    justify-content: flex-start;
    .no_data_wrap {
      display: flex;
      flex: 1;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: $font-medium;
      .ico_nodata {
        &::before {
          content: '';
          display: flex;
          width: 10rem;
          height: 10rem;
          margin: 0 auto 1rem;
          background: url('@/assets/images/common/ico_nodata_list.svg') center / contain no-repeat;
        }
        &.ico_nodata_expired {
          &::before {
            background: url('@/assets/images/common/ico_nodata_expired.svg') center / contain
              no-repeat;
          }
        }
        &.ico_nodata_no_report {
          &::before {
            background: url('@/assets/images/common/ico_nodata_no_report.svg') center / contain
              no-repeat;
          }
        }
      }
    }
  }
}

.img_upload_item {
  width: 100%;
  margin: 3rem 0 0 0;
  .img_wrap {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .stamp {
      position: absolute;
      top: 30rem;
      right: 20rem;
      height: 15rem !important;
      width: 15rem !important;
      padding: 0 !important;
      border-radius: 50%;
      background-color: #fff;
      opacity: 1 !important;
    }
  }
}
