.instruction_homework {
  .tit_function_wrap {
    margin-bottom: 3rem !important;
    .list_btn_wrap {
      @include font_body1($font-weight-bold);
      display: flex;
      align-items: center;

      .ico_list_book {
        width: 5rem;
        height: 5rem;
        background: url('@/assets/images/common/ico_tit_book.svg') center center / contain no-repeat;
        margin-right: 0.8rem;
      }
    }

    .btn_wrap {
      display: flex;
      gap: 1rem;
    }
  }
}

.table_report {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80rem;
  position: relative;
  table {
    table-layout: fixed;
    thead {
      th {
        border-right: 1px solid var(--white-fff, #fff);
        background: var(--gray_Line_aaa, #aaa);
        height: 7rem;
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
      }
    }
    tbody {
      td {
        height: 7rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 2.5rem;
        font-weight: 400;
        border-right: 1px solid var(--gray_Line_ccc, #ccc);
        border-bottom: 1px solid var(--gray_Line_ccc, #ccc);
        background: var(--white-fff, #fff);

        &.bg_blue {
          background: #dff4ff;
          a {
            color: #169bd4;
            text-decoration-line: underline;
          }
        }
        &.bg_yellow {
          background: #fefbde;
          a {
            color: #c49706;
            text-decoration-line: underline;
          }
        }
        &.bg_red {
          background: #fbeae8;
          a {
            color: #f04c42;
            text-decoration-line: underline;
          }
        }
        &.bg_gray {
          background: #f7f7f7;
        }
        &.bg_waiting {
          color: #999999;
        }

        &.ico_flag {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 7rem;
            position: relative;
            text-decoration-line: underline;

            &::before {
              content: '';
              width: 2.2rem;
              height: 2.2rem;
              position: absolute;
              top: 0;
              left: 0;
              border-top: 1.1rem solid #169bd4;
              border-right: 1.1rem solid #169bd4;
              border-left: 1.1rem solid transparent;
              border-bottom: 1.1rem solid transparent;
              background: transparent;
              transform: rotate(270deg);
            }
          }

          &.ico_flag_blue {
            a::before {
              border-top-color: #42c5b1;
              border-right-color: #42c5b1;
            }
          }

          &.ico_flag_yellow {
            a::before {
              border-top-color: #ffc40b;
              border-right-color: #ffc40b;
            }
          }

          &.ico_flag_red {
            a::before {
              border-top-color: #fd6e7f;
              border-right-color: #fd6e7f;
            }
          }

          &.ico_flag_green {
            a::before {
              border-top-color: #8dbb2c;
              border-right-color: #8dbb2c;
            }
          }

          &.ico_flag_gray {
            a::before {
              border-top-color: #999999;
              border-right-color: #999999;
            }
          }
        }
      }
    }
  }
}
