@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';
.instruction_detail {
  position: relative;

  .section_title {
    display: flex;
    justify-content: space-between;
    margin: 1.4rem 0;

    .util {
      position: relative;

      .btn_back {
        @include font_body1($font-weight-bold);
        margin-bottom: 3rem;

        a {
          display: flex;
          align-items: center;
          padding-top: 3rem;

          .ico_back {
            display: inline-block;
            width: 5rem;
            height: 5rem;
            background: url('@/assets/images/common/ico_back.svg') center center / contain no-repeat;
            margin-right: 1.6rem;
          }
        }
      }

      .subject {
        @include font_body5($font-weight-bold, $point);
      }
    }

    .answer {
      width: 99.7rem;
      display: flex;
      justify-content: space-between;

      padding: 1rem 2rem;
      align-items: center;
      border-radius: 1.2rem;
      background: var(--hover_c2e1ee, #c2e1ee);
      .area_select {
        width: 30rem;
        height: 9rem;
        & ::v-deep(.v-select) {
          width: 100% !important;
          height: 9rem;
        }
        & ::v-deep(.v-select--single .v-input__control) {
          height: 9rem !important;
        }
      }

      .list {
        width: 70rem;
        ul {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 1.2rem;
          flex-wrap: wrap;
          li {
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &.correct::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 5rem;
              height: 5rem;
              background: url('@/assets/images/common/ico_correct.svg') center center / contain
                no-repeat;
            }
            &.incorrect::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 5rem;
              height: 5rem;
              background: url('@/assets/images/common/ico_incorrect.svg') center center / contain
                no-repeat;
            }
          }
        }
      }
    }
  }
  .section_content {
    width: 160.5rem;
    height: 73.9865rem;
    border-radius: 0.8rem;
    border: 1px solid #51b3e9;
    background: #fff;
  }
}
