@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

.instruction_homework_pop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .homework_list {
    .tit_wrap {
      font-size: $font-medium;
      display: flex;
      align-items: center;
      &::before {
        width: 0 !important;
        height: 0;
      }
      .txt_date {
        font-weight: var(--weight-bold);
      }
    }
    .viewing_item_wrap {
      display: flex;
      max-height: 76.5rem;
      overflow-y: auto;
      width: 49rem;
      .viewing_con_wrap {
        margin-top: 2rem;
        .viewing_con_area {
          position: relative;
          min-height: 48.7rem;
          .img_wrap {
            width: 47rem;
            height: 47rem;
            border-radius: var(--border-radius-medium);
            border: 1px solid $black;
            overflow: hidden;
            margin: 0 0 1rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .con_wrap {
            width: 47rem;
            border-radius: var(--border-radius-medium);
            border: 1px solid $point;
            background: #ecf3f6;
            padding: 1rem 1.5rem;
            line-height: 4rem;
            font-size: $font-medium;
            text-align: left;
          }
        }
      }
    }
  }
  .homework_write {
    flex: 1;
    margin-left: 6rem;
    .tit_wrap {
      @include font_body1($font-weight-bold);

      height: 5rem;
      text-align: left;
      margin-bottom: 1rem;
    }
    .write_tag_wrap {
      border-radius: 0.6rem;
      border: 1px solid var(--border-gray);
      margin-bottom: 2rem;
      padding: 3rem 3rem 1.5rem;
      .write_box {
        display: flex;
        padding-bottom: 1.5rem;
        .timeline_wrap {
          margin-bottom: 3rem;
          ul {
            position: relative;
            width: 25rem;
            &::before {
              content: '';
              position: absolute;
              top: 1.5rem;
              bottom: 1.5rem;
              left: 0;
              display: inline-flex;
              width: 0.2rem;
              background: $orange;
            }
            li {
              text-align: left;
              height: 3.3rem;
              line-height: 3.3rem;
              position: relative;
              margin-left: 2.2rem;
              &.active,
              &:hover {
                a {
                  @include font_body2;
                }
                &::before {
                  border: 0.5rem solid $orange;
                  background: $orange;
                }
              }
              &::before {
                content: '';
                position: absolute;
                display: flex;
                top: 0.8rem;
                left: -3.3rem;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 2.4rem;
                border: 0.5rem solid $orange;
                background: $white;
              }
              & + li {
                margin-top: 3rem;
              }
              a {
                font-size: $font-medium;
              }
            }
          }
        }
        .tag_wrap {
          flex: 1;
          .bg-orange {
            background: $orange !important;
          }
          .toggle_wrap {
            margin-top: 2.5rem;
            .v-btn-toggle {
              display: flex;
              flex-wrap: wrap;
              height: auto;
              justify-content: flex-start;
              button {
                margin: 0 1rem 1.5rem 0;
              }
            }
          }
        }
      }
    }
    .chips_wrap {
      display: flex;
      border-top: 1px solid var(--border-gray);
      padding: 3rem;
      margin: 0 -3rem;
      .custom_chips {
        text-align: left;
        flex: 1;
      }
      .btn_wrap {
        position: relative;
        .ico_btn_ai {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          display: block;
          width: 9.4rem;
          height: 6.4rem;
          background: url('@/assets/images/common/ico_btn_ai.svg');
        }
        .v-btn {
          margin-top: 5.6rem;
        }
      }
    }
    .result_list_wrap {
      display: flex;
      text-align: left;
      border-radius: 0.6rem;
      border: 1px solid #169bd4;
      background: #ecf3f6;
      padding: 3rem;
      line-height: 3.5rem;

      .info_list_wrap {
        flex: 1;
        font-size: $font-medium;
      }
      .btn_wrap {
        display: flex;
        align-items: flex-end;
        button {
          width: 8rem !important;
          height: 8rem !important;
          border-radius: 8rem;
          background: url('@/assets/images/common/ico_btn_copy.svg');
        }
      }
    }
  }
}
