@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

//사진 과제
.pho_list_wrap {
  display: flex;
  padding: 3rem 2rem 5rem;
  flex-direction: column;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  height: 96rem;

  &.ai_recommend {
    padding: 3rem;
    height: 84.2rem;

    .homework_info {
      @include font_body1;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 8rem 4rem;
      .stu_num {
        @include font_body4($point);
        font-style: normal;
        font-weight: 400;
        line-height: 2.6rem;
      }
    }

    .homework_result {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 8rem;
      @include font_body3;
      margin-bottom: 1rem;

      em {
        @include font_body3;
        margin-bottom: 1rem;
      }
    }
    .stamp {
      display: inline-block;
      width: 5.6rem;
      height: 5.6rem;
      background: url('../images/teacher/table_stamp.svg') no-repeat center center/contain;
    }
    em {
      @include font_body1($font-weight-bold);

      &::after {
        content: '';
        display: inline-flex;
        background: $black;
        opacity: 0.3;
        width: 0.1rem;
        height: 2rem;
        margin-left: 2rem;
      }
    }
  }

  // 팝업
  .dialog_carousel {
    .tit_area {
      margin-top: 3rem;

      .study_thumb_list {
        display: flex;
        align-items: center;
        padding: 0rem 3rem 1rem;

        .st_info_area {
          justify-content: space-between;
          width: 50%;

          .txt_num {
            margin: 0 1rem 0 1.2rem;
          }
        }

        em {
          width: 50%;
          text-align: right;
          font-size: $font-large;
          font-weight: var(--weight-bold);

          &::after {
            content: '';
            display: inline-flex;
            background: $black;
            opacity: 0.3;
            width: 0.1rem;
            height: 2.4rem;
            margin: 0 0.5rem 0 2rem;
          }
        }
      }
    }

    .page_wrap {
      height: auto;
    }
  }

  .carousel_wrap {
    img {
      object-fit: contain;
    }

    &.ai_img {
      // .v-carousel-item {
      //   &:after {
      //     z-index: 100;
      //     content: '';
      //     position: absolute;
      //     top: -1rem;
      //     right: 14.5rem;
      //     width: 9.2rem;
      //     height: 7.7rem;
      //     border: none;
      //     background: url('../images/teacher/ai_flag_01.png') no-repeat center center/contain;
      //   }
      // }
      img {
        border: 1px solid var(--gray_Line_aaa, #aaa);
        border-radius: 1.2rem;
        object-fit: contain;
        position: relative;
      }
    }
    &.ai_video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .tit_area {
    .study_thumb_list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem 3rem 1rem;
      em {
        @include font_body1($font-weight-bold);

        &::after {
          content: '';
          display: inline-flex;
          background: $black;
          opacity: 0.3;
          width: 0.1rem;
          height: 2.4rem;
          margin: 0 0.5rem 0 2rem;
        }
      }
    }
  }
  .page_wrap {
    height: auto;
  }
}
