@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

.reference_area {
  border-radius: 0.6rem;
  border: 1px solid #76aec6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  margin-bottom: 3rem;

  .reference_title {
    display: flex;
    height: 14rem;
    padding: 0rem 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid #76aec6;
    background: var(--hover_c2e1ee, #c2e1ee);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: normal;
  }

  .reference_contents {
    display: flex;
    padding: 5rem 5rem 6rem 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
    .reference_sub_title {
      @include font_body1($font-weight-bold);
      height: 5rem;
    }
  }

  .attachment_btn {
    display: flex;
    color: #fff;
    width: 64rem;
    height: 6rem;
    padding: 1.4rem 3rem;
    align-items: center;
    gap: 1rem;
    border-radius: 8.6rem;
    background: var(--Input_Line_51B3E9, #51b3e9);

    &::before {
      content: '';
      width: 3rem;
      height: 3rem;
      background: url('../../assets/images/common/ico_link.svg') no-repeat center center/contain;
    }
  }
}
