@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';
.section_mission {
  position: relative;
  display: flex;
  justify-content: space-between;
  // align-items: flex-start;
  flex-grow: 1;

  .sub_tit {
    @include font_body3($font-weight-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background: $black;
    padding: 0 3rem;
    border-top-right-radius: var(--border-radius-medium);
    border-top-left-radius: var(--border-radius-medium);

    .txt_st {
      color: #fff;
    }

    .txt_num {
      color: #ff6600;
      position: absolute;
      right: 3rem;
    }
  }

  &.column {
    flex-direction: column;
    .sub_tit {
      display: flex;
      width: 35rem;
      padding: 1.6rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
    }
  }

  .mission {
    position: relative;
    border: 1px solid var(--border-gray);
    border-radius: var(--border-radius-medium);
    .list {
      height: 72rem;
      overflow-y: auto;
      padding: 3rem 2rem 0;
    }

    .table {
      height: 72rem;
      overflow-y: auto;
      padding: 3rem 2rem 0;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        em {
          @include font_body5;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #169bd4;
        }
      }

      .stamp {
        display: inline-block;
        width: 6.4rem;
        height: 6.4rem;
        background: url('../images/teacher/table_stamp.svg') no-repeat center center/contain;
      }
    }

    .empty {
      height: 72rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 2rem;
      i.icon-book {
        width: 10rem;
        height: 10rem;
        background: url('@/assets/images/common/ico_book_empty.svg') no-repeat 0 0 / contain;
      }
    }

    &.rules {
      width: 100%;
      display: flex;
      padding: 5rem 7rem;
      align-items: flex-start;
      flex-grow: 1;
      border-radius: 0 var(--border-radius-medium) var(--border-radius-medium)
        var(--border-radius-medium);

      .custom-counter {
        counter-reset: section;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        list-style: none;

        li {
          @include font_body1;
          display: flex;
          align-items: center;
          height: 5rem;
          &::before {
            display: flex;
            width: 5rem;
            height: 5rem;
            margin-right: 2rem;
            color: #fff;
            justify-content: center;
            align-items: center;
            border-radius: 10rem;
            background: #1e3257;
            counter-increment: section;
            content: counter(section);
          }
        }
      }

      ol {
        li {
        }
      }
    }

    &.submission {
      width: 82rem;

      &.full {
        width: 118rem;
      }

      .list {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 1.5rem;
          li {
            //width: 33.33%;
            width: calc(33.3% - 1rem);
            //margin: 0 1.5rem 0 0;
            //
            &:nth-child(3n) {
              margin: 0 0 0 0;
            }

            .box_img {
              position: relative;
              border: 1px solid var(--border-gray);
              border-radius: 0.8rem;
              // height: 18.3rem;
              overflow: hidden;

              .v-checkbox {
                position: absolute;
                top: 0;
                left: 0.8rem;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .name {
              width: 100%;
              margin: 1rem auto 3rem;
              text-align: center;

              .txt_num {
                color: #169bd4;
                font-size: $font-medium;
                margin: 0 1rem 0 1.2rem;
              }

              .txt_name {
                font-size: $font-medium;
                flex: 1;
              }
            }
          }
        }
      }
    }

    &.unsubmission {
      width: 39rem;
      .list {
        li {
          display: flex;
          padding: 1rem 0;
          align-items: center;
          justify-content: space-between;

          .name {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            .txt_num {
              @include font_body5($font-weight-medium, $point);
              font-weight: 400;
            }

            .txt_name {
              @include font_body3;
            }
          }

          .check {
            width: 4rem;
          }
        }
      }
    }
  }
}
