@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

.st_info_area {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 6.6rem;
  min-height: 8.6rem;
  max-width: 35rem;

  &.active {
    background: #c2e1ee;
    box-shadow: 0rem 0.3rem 0.7rem rgba(0, 0, 0, 0.05);
    padding: 1rem 1.5rem;
    border-radius: 6.6rem;
  }
  .st_pho_ico01,
  .st_pho_ico02 {
    position: absolute;
    top: 2.2rem;
    left: -2.5rem;
    width: 5rem;
    height: 4.5rem;
  }
  .st_pho_ico01 {
    background: url('@/assets/images/common/st_pho_ico01s.svg') no-repeat center center/contain;
  }
  .st_pho_ico02 {
    background: url('@/assets/images/common/st_pho_ico02s.svg') no-repeat center center/contain;
  }
  &.empty_list {
    border: 1px dashed $black;
    &:hover {
      background: transparent;
      box-shadow: none;
    }
    .txt_name {
      font-size: $font-medium;
      line-height: normal;
      text-align: center;
    }
  }
  &.active {
    width: 100%;
    background: #c2e1ee;
    box-shadow: 0rem 0.3rem 0.7rem rgba(0, 0, 0, 0.05);
  }
  .st_pho {
    position: relative;
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 6.6rem;
    border: 1px solid #169bd4;

    img {
      border-radius: 6.6rem;
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .st_pho_ico01,
    .st_pho_ico02 {
      position: absolute;
      top: -1rem;
      left: -2rem;
      width: 3.4rem;
      height: 3.4rem;
    }
    .st_pho_ico01 {
      background: url('@/assets/images/common/st_pho_ico01.svg');
      background-size: contain;
    }
    .st_pho_ico02 {
      background: url('@/assets/images/common/st_pho_ico02.svg');
      background-size: contain;
    }
  }
  .txt_num {
    @include font_body4($font-weight-bold, $point);

    margin: 0 1rem 0 1.2rem;
  }
  .txt_name {
    text-align: left;
    font-size: $font-large;
    flex: 1;
  }
  .ico_event_flag01 {
    width: 7rem;
    height: 6.1rem;
    display: inline-flex;
    background: url('@/assets/images/student/ico_event_flag01.svg') no-repeat center center/contain;
  }
}
