@import '../foundations/variables.scss';
@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

.submin_acc {
  margin: 3rem 0;
  .v-expansion-panel-text__wrapper {
    padding: 0 !important;
  }
  .v-expansion-panel {
    border: 1px solid #555;
    border-radius: 0.6rem !important;
    border-bottom-left-radius: 0.6rem !important;
    border-bottom-right-radius: 0.6rem !important;
    border-top-left-radius: 0.6rem !important;
    border-top-right-radius: 0.6rem !important;
    overflow: hidden;
    & + .v-expansion-panel {
      margin-top: 1.6rem;
    }
  }
  .v-icon--size-default {
    font-size: calc(var(--v-icon-size-multiplier) * 3.5em);
  }
  .v-expansion-panel--active {
    border: 0.2rem solid $point;
    .v-expansion-panel-title__overlay {
      opacity: 0;
      &:hover {
        opacity: 0.1;
      }
    }
    .con_wrap {
      border-top: 1px dashed $black;
    }
  }
  .tit_wrap {
    @include font_body1($font-weight-bold);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;

    .txt_num {
      width: 16.2rem;
      font-weight: var(--weight-bold);
      display: inline-flex;
      align-items: center;
      .num {
        min-width: 7rem;
        text-align: center;
      }
    }
    .ellipsis {
      font-size: $font-medium;
      &::before {
        content: '';
        display: inline-flex;
        background: $black;
        opacity: 0.3;
        width: 0.1rem;
        height: 2rem;
        margin: 0 2rem;
      }
    }
    .txt_people {
      margin-right: var(--margin-medium);
      color: $orange;
    }
  }
  .con_wrap {
    background: #ecf3f6;
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 3rem 5rem 2rem 5rem;
      li {
        margin-bottom: 1rem;
        width: 20%;
      }
    }
    .st_info_area {
      .txt_num {
        @include font_body4($point);

        margin: 0 1rem 0 1.2rem;
      }
    }
  }
}
