@import '../foundations/variables.scss';
@import '../foundations/mixin.scss';

.tab-actions {
  position: absolute;
  top: -6rem;
  right: 0;
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  .btn {
    display: inline-flex;
    height: 5rem;
    padding: 0px 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 5rem;
    background: var(--black_666, #666);
    color: #fff;
  }

  .left-divider {
    position: relative;
    &::before {
      content: '';
      width: 0.1rem;
      height: 2rem;
      background: #aaa;
      position: absolute;
      top: 0.6rem;
      left: 0;
    }
  }

  span {
    @include font_body3;
    padding-left: 1rem;
    em {
      font-weight: 700;
    }
    .point-orange {
      color: var(--Point_ff6600, #f60);
      text-decoration-line: underline;
    }
  }
}
