$thumb_bg: #e2e6ed;
$upload-noti-font-color: #ed0000;
$file-box-bg-color: $bg-default;

.class_board {
  // 컴포넌트 바깥 layout

  .tit_wrap {
    display: flex;
    align-items: center;
    margin: 2rem 0 1rem 0;
    p {
      display: flex;
      flex-direction: column;
      @include font_body3($font-weight-bold);
      margin-right: 2rem;
    }
  }

  .sub_tit_wrap {
    @include font_header3;
    display: flex;
    align-items: center;
    margin-bottom: 4.25rem;
    &::before {
      display: none;
    }
    i {
      margin-right: 1rem;
    }
  }

  .bullet_st {
    &::before {
      content: '';
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: $bg-darken;
      margin: 0 1rem 0.3rem 0;
    }
  }

  // tab
  // tab_conts_01
  .card_type {
    .tab_head {
      // 탭 영역  border-btm
      &::after {
        background: $bg-darken;
      }
      button {
        flex: 1;

        @include font_body3($font-weight-bold);
        &:first-child {
          border-top-left-radius: 0.5rem;
          border-top: 1px solid $line-basic;
          border-left: 1px solid $line-basic;
        }
        &:nth-child(2) {
          border-top: 1px solid $line-basic;
          border-right: 1px solid $line-basic;
        }
        &:last-child {
          border-top: 1px solid $line-basic;
          border-right: 1px solid $line-basic;
          border-top-right-radius: 0.5rem;
        }
        &.v-tab--selected {
          background: $bg-darken;
          color: $white;
          border: none;
        }
      }
    }
    &.full {
      .tab_head {
        button {
          color: $font-basic;
          &.v-tab--selected {
            color: $white;
          }
        }
      }
    }

    .tab_sub_body {
      margin: 3rem 0;
      .text_field_wrap {
        display: flex;
        flex-direction: column;
        min-height: 45rem;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
        .text_field_box {
          width: 70rem;
          .similar_txt {
            padding: 1rem 0 3rem;
            @include font_body3;
            em {
              @include font_body3($font-weight-bold, $font-darken);
            }
          }
        }
        .info {
          min-width: 60rem;
        }
      }

      // 이미지 연동 결과
      .search_result {
        position: relative;
        .top_btn_wrap {
          .center {
            flex: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .img_wrap {
          margin: 0 auto;
          &.resize_lg {
            width: 120rem;
            height: 74rem;
          }
          &.resize_md {
            // width: 64.3rem;
            width: auto;
            // height: auto;
            height: 70rem;
            img {
              object-fit: cover;
            }
          }
          p {
            position: absolute;
            color: $white;
            left: 50%;
            transform: translateX(-50%);
            font-size: 12rem;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }

  // tab_conts_02
  .img_upload_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    gap: 4rem;
    .upload_area {
      flex: 1;
      height: 40rem;
      border: 2px dashed $font-light;
      border-width: 0.35rem;
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .info {
        width: max-content;
        p {
          line-height: 3rem;
          em {
            color: $font-light;
          }
        }
      }
      &.resize_md {
        width: 79.5rem;
        height: 50.4rem;
      }
    }
    .copy_area {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      gap: 2rem;
      padding-top: 2.5rem;
      .info {
        width: max-content;
      }
      .form_group {
        display: flex;
        width: 57rem;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        > div {
          flex: 1;
        }
      }
    }

    .tab_body {
      border-radius: var(--border-radius-medium);
      border: 1px solid $primary;
      padding: 3rem;
      background: $white;
      .input_btn_wrap {
        &.register {
          .input_area {
            display: flex;
            width: calc(100% - 13rem);
            .v-input {
              & + .v-input {
                margin-left: 1rem;
              }
            }
          }
          .btn_area {
            width: 12rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }
  .list_area {
    .input_btn_wrap {
      .list_box {
        height: 5.5rem;
        padding: 1.45rem 2rem;
      }
    }
  }
  .linked_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;

    .link_item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border: 1px solid $point;
      background: $B50;
      border-radius: 0.5rem;
      padding: 10rem 5rem;
      height: auto;
      gap: 2rem;
      flex-direction: row;
      width: 79.5rem;
      .link {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
        max-width: 36rem;
        height: 100%;
        align-self: center;
        padding: 0;
        text-decoration: underline;
        @include font-body3($font-color: $B600);
      }
    }

    &.default_color {
      .link_item {
        background: $bg-default;
        border: none;
        .link {
          color: $font-darken;
        }
      }
    }
  }

  // 연동 결과 리스트
  .thumb_con_wrap {
    .grid_divider {
      border-right: 1px solid $line-basic;
    }

    .tit_wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 3rem;
      margin-bottom: 2rem;
      span {
        @include font_body2;
      }
    }
    .thumb_list_wrap {
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      ul {
        gap: 2rem 1.5rem;
        &.pr30 {
          padding-right: 3rem;
        }
        li {
          width: fit-content;
          margin: 0;
          a {
            display: flex;
            .img_wrap {
              width: 23rem;
              height: 13.5rem;
              background: $thumb_bg;
              border: 1px solid $line-basic;
              border-radius: 0.8rem;
              &.resize {
                width: 22.6rem;
                height: 12.8rem;
                border: none;
                border-radius: none;
              }
            }
            p {
              @include font_body3($font-weight-bold);
              padding-top: 1rem;
              text-align: center;
            }
          }
        }
      }
      &.no_data {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60rem;
      }
    }
  }

  &.class_board_box {
    border-radius: 0.5rem;
    border: 1px solid $line-darken;
    padding: 3rem;
    background: $white;

    > .top_btn_wrap {
      // 라인박스 안에서 간격조절
      margin-top: 0;
      .indicator.right {
        padding-right: 0;
      }
    }

    .v-tabs--density-default {
      height: 5.5rem !important;
      .v-btn {
        height: 5.5rem !important;
      }
    }

    .v-slide-group {
    }
  }

  &.align_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select_wrap {
    display: flex;
    width: 101rem;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto 0;
    gap: 1rem;
    .text_field_box {
      width: 50%;
    }
  }
  .search_bar_wrap {
    width: 101rem;
    margin: 1rem auto 0;
    p {
      padding-top: 1.5rem;
      em {
        font-weight: $font-weight-bold;
      }
    }
  }
  .class_board_table_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 4rem;
    > p {
      align-self: flex-start;
      @include font_body3;
      padding-bottom: 2rem;
    }
    .class_board_table {
      table {
        thead {
          th {
            height: 7rem;
            border-right: 1px solid $white;
            background: $primary;
            text-align: center;
            @include font_body3($font-weight-bold, $white);
          }
        }
        tbody {
          td {
            text-align: center;
            border-right: 1px solid $bg-basic;
            border-bottom: 1px solid $bg-basic;
            background: $white;
            // height: 7rem !important;
            @include font_body3;
            .v-img {
              width: 5rem;
              height: 5rem;
              margin: 0 auto;
            }
            &:first-child {
              padding: 1rem 3.5rem;
              border-left: 1px solid $bg-basic;
            }
            &:nth-child(2) {
              padding: 2.3rem 0 2.3rem 1.5rem;
              text-align: left;
            }
            &:nth-child(3),
            &:nth-child(4) {
              padding: 2.3rem 1.8rem;
              letter-spacing: -0.15rem;
            }
            &:nth-child(5) {
              padding: 2rem;
            }
            &:nth-child(6) {
              padding: 2.3rem 4rem;
            }
            &:nth-child(7) {
              padding: 2.3rem 3rem;
            }
            &:last-child {
              padding: 1.7rem 1.75rem;
            }
          }
        }
      }
      .table_no_data {
        background: transparent;
        border: none;
        min-height: 42rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .upload_noti {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    > p {
      text-align: center;
      @include font_header2;
      line-height: 3.2rem;
      span {
        @include font_body3($font-weight-medium, $upload-noti-font-color);
      }
    }
    .img_upload_wrap {
      padding: 4rem 0 0 0;
      width: inherit;
      .upload_area {
        height: 56.2rem;
      }
    }
  }
  .file_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    margin-top: 3rem;
    .file_box {
      width: 51rem;
      height: 32rem;
      padding: 3rem;
      background: $file-box-bg-color;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      > i {
        align-self: flex-end;
        margin-bottom: 2rem;
      }
      &.justify_center {
        justify-content: center;
      }
      .file {
        .v-img {
          width: 13rem;
          height: 15.4rem;
          margin: 0 auto 2rem;
        }
        p {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
      &.upload {
        background: transparent;
        border: 2px dashed $font-light;
        border-width: 0.35rem;
        border-radius: 1.2rem;
        justify-content: center;
        .info {
          width: max-content;
          p {
            line-height: 3rem;
            em {
              color: $font-light;
            }
          }
        }
      }
    }
  }

  &.height_full {
    height: 100%;
    min-height: auto;
  }
  &.center {
    display: flex;
  }
  &.height_full_column {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &.height_auto {
    min-height: auto;
  }

  .select_link {
    //c-today-001에 사용
    display: flex;
    align-items: center;
    flex-direction: column;

    .box_outer {
      margin: 8rem auto;
      width: 100%;
      display: flex;
      gap: 5rem;
      justify-content: center;
    }
    .box {
      width: 38.3rem;
      border-radius: 4rem;
      padding: 7.8rem 6rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      text-align: center;
      &.blue {
        background: #4891ff;
      }
      &.green {
        background: #00bb99;
      }
      &.orange {
        background: $Y900;
      }
      .ico {
        display: block;
        margin: 0 auto;
      }
      p {
        color: $white;
        & + p {
          margin-top: 2rem;
        }
      }
    }
  }

  .nodata {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    .ico {
      margin: 0 auto;
    }
    .info {
      &.data_room {
        width: 100%;
      }
    }
    p {
      @include font-body3;
    }
  }

  .search_img_wrap {
    width: 100%;
    height: 73rem;
    position: absolute;
    left: 0;
    top: 16rem;
  }
  .result_amount {
    padding: 3rem 0 2rem;
  }

  .btn_bottom_wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3rem;
    &.full_h {
      height: 100%;
    }
  }
}
.alerts_dim {
  background-color: rgba(23, 23, 23, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0.5;
  .alerts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//form_group 누리집
.form_group {
  margin: 1rem 0 4rem;
  font-size: var(--font-medium);
  .input_btn_wrap {
    > div {
      margin-right: 1rem;
    }
  }
}
.input_btn_wrap {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  .v-input {
    & + .v-btn {
      margin-left: 1rem;
    }
  }

  .list_box {
    border: 1px solid $point;
    background: $white;
    height: 6rem;
    width: 100%;
    border-radius: var(--border-radius-medium);
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    @include font_body3($font-weight-bold, $font-darken);
    &.active {
      background: $B50;
    }

    span {
      margin-left: 0.6rem;
    }
    & + .v-btn {
      margin-left: 1rem;
    }
  }
}
