.monitoring {
  position: relative;
  // justify-content: space-between;
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 5rem;
  padding-bottom: 15rem;

  .sending_alert {
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 3rem;
    border-radius: 5rem;
    background: var(--Color-BG-Color-btn-bg, rgba(30, 50, 87, 0.5));
    height: 6rem;

    .dot {
      display: inline-block;
      width: 4px;
      height: 4px;
      margin: 0.25rem;
      border-radius: 4px;
      background: $point-color-yellow;
    }
    @include font_body3($font-weight-bold, $white);
  }

  .v-overlay {
    .v-overlay__scrim {
      opacity: 1 !important;
    }
  }
}
